.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      - unless homepage?
        %a.hidden-xs.navbar-brand{href: "/"}
          = image_tag "allen-circle.png", width: "40", height: "40"
          %span.title
            B(ro)botics | 
            %code 41977B 
          %i.fa.fa-home

    .pull-right
      / We are using an older version of FontAwesome (4.5.0), so these icons aren't optimal.
      %ul.nav.navbar-nav
        - unless homepage?
          %li
            = link_to home_page do
              %i.fa.fa-home
              Home
        %li
          = link_to projects_page do
            %i.fa.fa-cube
            Projects
        /%li
        /  = link_to documentation_page do
        /    %i.fa.fa-book
        /    Docs
        %li
          = link_to contact_page do
            %i.fa.fa-user
            Contact
        %li
          %a{href: "https://schoolweb.tdsb.on.ca/birchmountpark"}
            %i.fa.fa-building
            School Website
