.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      - unless homepage?
        %a.hidden-xs.navbar-brand{href: "/"}
          = image_tag "allen-circle.png", width: "40", height: "40"
          %span.title
            B(ro)botics | 
            %code 41977B 
          %i.fa.fa-home

    .pull-right
      %ul.nav.navbar-nav
        %li{nav_class(installation_path)}
          = link_to test_path do
            %i.fa.fa-flask
            Test
