%h2 About Us

%p The Birchmount Robotics Club is the robotics club of Birchmount Park Collegiate Institute in Scarborough, ON. Our members are experienced in various fields, such as computer-aided design, programming, and problem-solving.

%h2 Our Members

.row 
  .col-md-6 
    %h4
      %img{src: "images/Tyler.jpg", alt: "Picture of Tyler"}
      Tyler
    
    %p