.container
  %h2 Contact Us

  %p
    School office email address:
    %code.email B<b>fa</b>ir<b>fa</b>ch<b>fa</b>mo<b>fa</b>unt@tdsb<b>fa</b>.on<b>fa</b>.ca

  %p
    School office phone number:
    %code.email 4<b>34</b>16<b>34</b>-3<b>34</b>9<b>34</b>6-6<b>34</b>70<b>34</b>4<b>34</b>
  %p 
    Contact our staff organizer: 
    %code.email g<b>fa</b>ary.wa<b>r</b>ng2@<b>fdf</b>tdsb.o<b>nn</b>n.ca
  
  %p
    Send questions about the club to:
    %code.email <b>fdfd</b>aseer<b>fa</b>tayeem@<b>@@</b>gma<b>fa</b>il.com