.jumbotron
  .container
    %h1
      %img{src: "/images/allen-circle.png", alt: "The club logo, depicting Allen the monkey.", width: 48, height: 48}

      Birchmount Robotics Club
    
    %img{src: "/images/group-pic-3.png", alt: "Picture of the robotics team at the competition working", id: "main-image", style: "width: 1000px; height: 500px; object-fit: contain;"}

.main-content
  .container
    = partial :overview