.jumbotron
  .container
    %h1
      // = image_tag "mpv-logo-128.png", width: "45", height: "45"
      Birchmount Robotics Club
    %img{src:"/images/Group pic 3.jpg", class: 'team-picture', alt: "Picture of the robotics team at the competition."}
.main-content
  .container
    = partial :overview

.next-steps
  .container
    %h2 Here are a few places you may want to go next...
    %hr
    .row
      .col-xs-6
        = link_to github_path, class: "composite" do
          %i.fa.fa-github.big-circle
          %h3 Source Code Repository
