.container
  %h2 Projects
  %p Here are some of the projects we have worked on, or are currently working on.

  .container
    .row
      .col-md-3
        %h3 robosim [WIP]
        %a{href: "https://github.com/BPCI-Robotics/robosim", style:"color:#111;"}
          .fa.fa-github
          Github
      .col-md-9
        %p robosim is a utility which simulates the VEX python API to run a physics simulation of the robot. It allows one to directly simulate what python code does on the field. VEXCode VR has a greater functionality, but this one is free.
    
    .row
      .col-md-3
        %h3 Drivetrain Calculator
        %a{href: "https://docs.google.com/spreadsheets/d/1cvkjG-kS0T1l_ln-m6KFD1xE3opr2bzPi1rK3nq2KZU/edit?usp=sharing", style:"color:green;"}
          .fa.fa-calculator
          Google Sheets
      .col-md-9
        %p This is a Google Sheet to do some physics calculations and estimations for basic drivetrain configuration. This has proven useful for our team, as it gives us a rough estimate for different gear ratio. Just make a copy to use it. Don't expect accurate results for high acceleration, as this does not account for coefficient of friction.
    
    .row
      .col-md-3
        %h3 Website
        %a{href: "https://github.com/BPCI-Robotics/website", style:"color:#111;"}
          .fa.fa-github
          Github
      .col-md-9
        %p This is the website you are currently on. It is my (Aseer) first experience making a full website. It uses Middleman with HAML and SASS, as well as bootstrap. It is a fork of <a href="https://mpv.io/">mpv.io</a>, with a lot removed and rewritten. This toolchain creates minimal, yet beautiful, websites that are fast to load, responsive on mobile, and don't require javascript at all.
    
    .row
      .col-md-3
        %h3 Robots
      .col-md-9
        %p Our club's programming team has experimented with all of the ways to program VEX robots, VEX Python, VEX C++, and <a href="https://pros.cs.purdue.edu/">PROS C/C++</a>. Our members have a range of previous experience, in Lua, Python, C, shell scripting, and bare metal coding. We have also worked on a tool to control all kinds of drivetrains, like asterisk drive, tank drive, and mecanum drive. Our current robot is using tank drive.
    
    .row
      .col-md-3
        %h3 Docs
      .col-md-9
        %p This set of documentation helps other members get up to speed on principles in classical mechanics. This allows them to understand the mechanics of the robot on a deeper level, and to understand why certain things are the way they are. This documentation also contains documentation for functions in VEX programming, as VEX does not document these well.