.container
  %h2 Projects
  %p Here are some of the projects we have worked on, or are currently working on.

  .container
    .row
      .col-md-3
        %h3 robosim
        %a{href: "https://github.com/BPCI-Robotics/robosim", style:"color:#111;"}
          .fa.fa-github
          Github
      .col-md-9
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    
    .row
      .col-md-3
        %h3 Drivetrain Calculator
        %a{href: "https://docs.google.com/spreadsheets/d/1cvkjG-kS0T1l_ln-m6KFD1xE3opr2bzPi1rK3nq2KZU/edit?usp=sharing", style:"color:green;"}
          .fa.fa-calculator
          Google Sheets
      .col-md-9
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    
    .row
      .col-md-3
        %h3 
        %a{href: "https://github.com/BPCI-Robotics/robosim"}
          .fa.fa-github
          Github
      .col-md-9
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    
    .row
      .col-md-3
        %h3 robosim
        %a{href: "https://github.com/BPCI-Robotics/robosim"}
          .fa.fa-github
          Github
      .col-md-9
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.